ul li {
   display: flex;
   padding: 10px;

}

ul li p  {
    font-size: large;
    &.success {
      color: green;
      text-decoration: line-through;
    }
  
    &.failed {
      color: red;
    }

    &.notDefined {
        color: cyan;
    }
  }
  