<!-- <app-event></app-event> -->

<!-- <app-getvaluefrominputfield></app-getvaluefrominputfield> -->

<!-- <h1 class="heading">uday</h1>
<app-style></app-style> -->

<!-- <app-propertybinding></app-propertybinding> -->

<!-- <app-ifelse></app-ifelse> -->

<!-- <app-elseif></app-elseif> -->

<!-- <app-switch></app-switch> -->

<!-- <app-forloop></app-forloop> -->

<!-- <app-nestedfor></app-nestedfor> -->

<!-- <app-stylebinding></app-stylebinding> -->

<!-- <app-header></app-header> -->

<!-- <app-form></app-form> -->

<!-- <app-toggle></app-toggle> -->

<!-- <app-bootstrap></app-bootstrap> -->

<!-- <app-material-ui></app-material-ui> -->

<!-- <app-todo-list></app-todo-list> -->

<!-- <app-parent></app-parent> -->

<!-- <app-parent-reusable></app-parent-reusable> -->

<!-- <app-parent-c-t-p></app-parent-c-t-p> -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-template-reference-variable></app-template-reference-variable> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-reactive-form></app-reactive-form> -->

<h1>hey Uday This side </h1>