<input type="number" placeholder="Enter Day In Number" #day />
<button (click)="getDay(day.value)">Submit</button>

<div [ngSwitch]="dayVal">
    <div *ngSwitchCase="'1'">Monday</div>
    <div *ngSwitchCase="'2'">Tuesday</div>
    <div *ngSwitchCase="'3'">Wednesday</div>
    <div *ngSwitchCase="'4'">Thurusday</div>
    <div *ngSwitchCase="'5'">Friday</div>
    <div *ngSwitchCase="'6'">Saturday</div>
    <div *ngSwitchCase="'7'">Sunday</div>
    <div *ngSwitchDefault>Enter Valid Day : {{dayVal}}</div>
</div>

